

/* Overall Site Stylings */

html {
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
}

body {
    line-height: 1.5;
}

/* Font section */

h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

h3 {
    
    font-size: 1.2rem;
}

p {

}

a {
    text-decoration: none;
}

/* Reused styling through all sections */

.image-container {
    width: 60%;
    margin: 32px 24px;
}

.image-container img {
    max-width: 100%;
}

.info-container {
    width: 40%;
}

.aboutus-info h1, p {
    padding: 32px 0px 24px 0px;
}

.info {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.info p, h2, a {
    padding: 8px 0px;
}

.section {
    padding: 32px 0px;
}

.section-container .section:nth-child(2n+1) {
    background-color: rgb(219, 217, 217);
}

.about-container,
.thesis-container {
    display: flex;
}

.section-bit {
    display: flex;
    padding: 16px;
    border: 1px solid rgba(204, 204, 204, 0.75);
}

.section-bit .info {
    width: 65%;
}

.image {
    width: 35%;
}

.image img {
    max-width: 100%;
}

.section-title {
    text-align: center;
}

/* Header Section Specifics */

.header-container{
    border: 1px solid black;
    display: flex;
    height: 64px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 0rem 1rem;
    font-family: 'Merriweather Sans', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo img {
    height: 2.083rem;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation nav span {
    margin: 0rem 0.333rem;
}

#colmar {
    font-weight: bold;
}

#academy {
    color: grey;
}


/* Banner Section Specifics */

.banner-container {
    display: flex;
    align-items: center;
}

.button {
    background-color: rgb(109, 105, 105);
    text-align: center;
    color: white;
    padding: 8px;
}

/* Courses Section Specifics */

.courses-title {
    text-align: center;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 56px;
}

.courses {
    background-color: white;
    width: 30%;
    padding-bottom: 16px;
    margin: 16px;
    height: auto;
}

.courses img {
    max-width: 100%;
}

/* Thesis Section Specifics */

.thesis-title {
    text-align: center;
    padding: 32px 0px;
}

.media-container{
    width: 60%;
    margin: 0px 24px;
}

/* Footer Specifics */

footer {
    font-size: 14px;
    display: flex;
    padding: 16px 24px;
    border-top: 1px solid rgba(204, 204, 204, 0.75);
}

.copyright {
    flex-grow: 1;
}

.legal span {
    margin: 0px 10px;
}