/* Chosen Fonts to work with */

@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v14/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }


/* Overall Site Stylings */

html {
    font-size: 24px;
    font-family: 'Lato';
}

body {
    line-height: 1.5;
}

/* Font section */

h1 {
    font-weight: bold;
    font-size: 2.7rem;
}

h2 {
    font-weight: bold;
    font-size: 1.5rem;
}

h3 {
    font-size: 1.2rem;
}

a {
    text-decoration: none;
    color: rgb(0, 153, 255);
}

/* Reused styling through all sections */

.image-container {
    width: 60%;
    margin: 0px 24px 32px 24px;
}

.image-container img {
    max-width: 100%;
}

.info-container {
    width: 40%;
}

.aboutus-info h1, p {
    padding: 32px 0px 24px 0px;
}

.info {
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.info p, h2, a {
    padding: 8px 0px;
}

.section {
    padding: 32px 0px;
}

.section-container .section:nth-child(2n+1) {
    background-color: rgb(219, 217, 217);
}

.about-container,
.thesis-container {
    display: flex;
}

.aboutus-bit {
    display: flex;
    padding: 16px;
    border: 1px solid rgba(204, 204, 204, 0.75);
}

.aboutus-bit .info {
    width: 65%;
}

.image {
    width: 35%;
}

.image img {
    max-width: 100%;
}

.section-title {
    text-align: center;
}

/* Header Section Specifics */

.header-container{
    border: 1px solid black;
    display: flex;
    height: 64px;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    padding: 0rem 1rem;
    font-family: 'Merriweather Sans', sans-serif;
}

.logo {
    display: flex;
    align-items: center;
    flex-grow: 1;
}

.logo img {
    height: 2.083rem;
}

.navigation {
    display: flex;
    align-items: center;
}

.navigation nav span {
    margin: 0rem 0.333rem;
}

#colmar {
    font-weight: bold;
}

#academy {
    color: grey;
}

.phone-header {
    display: none;
}


/* Banner Section Specifics */

.banner-container {
    display: flex;
    align-items: center;
}

.banner-info {
    padding: 50px 0px;
}

.button {
    background-color: rgb(106, 109, 105);
    text-align: center;
    color: white;
    padding: 8px;
    font-size: 1.2rem;
}

/* About Us Specifics */

.aboutus-info h1 {
    font-size: 2.5rem;
}

.guest {
    background-color: rgb(219, 217, 217);
}


/* Courses Section Specifics */

.courses-title {
    text-align: center;
}

.courses-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0px 56px;
}

.courses {
    background-color: white;
    width: 30%;
    padding-bottom: 16px;
    margin: 16px;
    height: auto;
}

.courses img {
    max-width: 100%;
}

.mobile { 
    display: none;
}

/* Thesis Section Specifics */

.thesis-title {
    text-align: center;
    padding: 0px 0px 32px 0px;
}

.media-container{
    width: 60%;
    margin: 0px 24px;
}

.thesis-bit {
    display: flex;
    padding: 16px;
}

.thesis-bit .info {
    width: 65%;
}

.thesis-bit img {
    width: 35%;
    height: auto;
}

/* Footer Specifics */

footer {
    font-size: 14px;
    display: flex;
    padding: 16px 24px;
    border-top: 1px solid rgba(204, 204, 204, 0.75);
}

.copyright {
    flex-grow: 1;
}

.legal span {
    margin: 0px 10px;
}

/* Media Queries */

@media only screen and (max-width: 480px) {
    
    .header-container, .legal, .courses img, .courses .info p,
    .thesis-container .info, .thesis-container .info-container,
    .about-container .image-container, .desktop {
        display: none;
    }

    .phone-header {
        display: flex;
        height: 64px;
        justify-content: space-evenly;
        align-items: center;
    }

    .section {
        padding: 0px 8px 16px 8px;
    }

    .banner-container {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .image-container {
        width: 100%;
        margin: auto;
    }

    .info-container {
        width: auto;
    }

    .courses-container {
        display: flex;
        flex-direction: column;
        padding: 0px;
    }

    .courses {
        width: auto;
        padding: 0px;
        margin: 4px 0px;
    }

    .media-container {
        width: 100%;
        margin: auto;
    }

    .aboutus-bit {
        flex-direction: column;
        padding: 32px 16px;
    }

    .aboutus-bit .image {
        width: auto;
    }

    .mobile {
        display: block;
    }

    .guest {
        background-color: white;
    }


}